#header-text-3 .bg {
    background-image: url('../images/bg-4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
}
#benefits-3col-5 .bg {
    background-image: url('../images/bg-29.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:0.1;
}
#text-2col-3 .bg {
    background-image: url('../images/bg-sign.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.1;
}
/*
#gallery-fluid-carousel-6 .bg-wrap {
    background-color: #f4f5f6;
}
*/
#contact-form .bg {
	background-image: url('../images/bg-31.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom right;
	opacity: 1;
}#footer-text-map .bg-wrap {
    background-color: #F4F5F6;
}
